@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Dancing Script';
}

div.main {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

div.main>.inner-main {
    height: 100vh;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

div.main h2 {
    background-color: rgb(243, 243, 243, 0.4);
    font-size: 32pt;
    padding: 30px 40px;
    border-radius: 20px;
}