* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    background-color: #EEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#note {
    font-size: 16pt;
    margin-bottom: 10px;
    color: #000;
}

#theme-switcher {
    width: 50%;
    height: 300px;
    font-size: 32pt;
    cursor: pointer;
    background-color: #229ED9;
    border: none;
    border-radius: 20px;
    color: #FFF;
}